.header{
  display: flex;
  background: #ffffff;
}
.header .toggle-menu .anticon{
  font-size: 20px;
}
.header .header-content{
  flex: 1;
  text-align: right;
  margin-right: 50px;
  display: flex;
  flex-flow: row-reverse;
}
.header .header-content .option-item{
  margin: 0 5px;
  padding: 0 15px;
}
.header .header-content .option-item:hover{
  background: #eee;
}
.header .header-content .option-item .icon-item {
  font-size: 20px;
}
.trigger{
  margin: 0 20px;
}
.tag-views{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}
.tag-views .ant-tag{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.tag-views .ant-tag .anticon {
  margin: 0 3px;
}
.ant-list-item:hover{
  cursor: pointer;
}