.header{
  display: flex;
  background: #ffffff;
}
.header .toggle-menu .anticon{
  font-size: 20px;
}
.header .header-content{
  flex: 1;
  text-align: right;
  margin-right: 50px;
  display: flex;
  flex-flow: row-reverse;
}
.header .header-content .option-item{
  margin: 0 20px;
}
.header .header-content .option-item .icon-item {
  font-size: 20px;
}
.trigger{
  margin: 0 20px;
}