.header{
  display: flex;
}
.header .toggle-menu .anticon{
  font-size: 20px;
}
.header .header-content{
  flex: 1;
  text-align: right;
  margin-right: 50px;
  display: flex;
  flex-flow: row-reverse;
}
.header .header-content .option-item{
  margin: 0 20px;
}
.header .header-content .option-item .anticon {
  font-size: 20px;
}
.trigger{
  margin: 0 20px;
}
.drawer .setting-item{
  display: flex;
  align-items: center;
}
.drawer .setting-item .option{
  flex: 1;
  text-align: right;
}